<div
  style="display: flex; justify-content: space-between;height: 100%; align-items: center; padding-left: 20px; padding-right: 20px;">
  <div style="width: 200px;">
    <span style="color: white; font-weight: 500; font-size: 26px; font-style: italic;">I</span>
    <span style="color: greenyellow; font-weight: 500; font-size: 26px; font-style: italic;">Sportas</span>
  </div>
  <div style="width: 100%;">
    <nav>
      <ul class="header_menu_left">
        <li class="header_menu_item">
          <a href="/home/ai">AI</a>
        </li>
        <li class="header_menu_item">
          <a href="/trainer/main">Trainer</a>
        </li>
        <li class="header_menu_item">
          <a href="/user/main">User</a>
        </li>
      </ul>
      <ul class="header_menu_right">
        <li class="header_menu_item">
          <a>button 1</a>
        </li>
        <li class="header_menu_item">
          <a>button 2</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
