<div style="display: flex; justify-content: space-between;height: 100%; align-items: center; padding-left: 20px; padding-right: 20px;">
    <div style="width: 200px;" (click)="uiService.redirectToHome()">
        <span style="color: white; font-weight: 500; font-size: 26px; font-style: italic;">I</span>
        <span style="color: greenyellow; font-weight: 500; font-size: 26px; font-style: italic;">Sporta</span>
    </div>
    <div style="width: 100%;">
        <nav style="display: flex; align-items: center; justify-content: space-between;">
            <ul class="header_menu_left">
                <li class="header_menu_item">
                    <a href="/user/main">Home</a>
                </li>
                <li class="header_menu_item">
                    <a href="/user/statistics">Statistics</a>
                </li>
            </ul>
            <ul class="header_menu_right">
                <li class="header_menu_item">
                    <a class="right" (click)="logoff()">
                        <mat-icon>exit_to_app</mat-icon>
                    </a>
                </li>
                <li class="header_menu_item">
                    <a class="right" href="user/settings">
                        <mat-icon>settings</mat-icon>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>