<div style="height: 100%;">

    <!-- <div style="height: 300px; padding-bottom: 60px;">
    <mat-card style="height: 100%; max-height: 300px;">
      <slideshow #slideshow [autoPlay]="true" [autoPlayInterval]="5000" [showDots]="true" [disableSwiping]="true"
        [imageUrls]="Imagedata"></slideshow>
    </mat-card>
  </div> -->


    <div style="width: 100%;  padding-bottom: 10px;">
        <mat-card style="height: 100%; display: flex; flex-direction: row;">
            <div style="width: 100%; height: 300px; overflow: hidden;">
                <img src="../../assets/pageImages/wp2482997.png" width="100%">
            </div>
        </mat-card>
    </div>

    <div style="width: 100%; padding-bottom: 10px;">
        <mat-card style="height: 100%; display: flex; flex-direction: column;">

            <div style="width: calc(100% - 40px); margin: 20px; display: flex; flex-direction: row; justify-content: center;">
                <div style="width: 50%; display: flex; flex-direction: column; align-items: center;">
                    <h1><b>What is "ISporta"?</b></h1>
                    <h3 style="width: 90%; text-align: justify;">"ISporta" - workout assistant, that helps User and Trainer with workout plans by managing them and seeing workout statistics. Also one of the main purposes is to replace a trainer in real time by system, which will track User workouts
                        anywhere and anytime.</h3>
                </div>
            </div>

        </mat-card>
    </div>

    <div style="width: 100%; padding-bottom: 10px;">
        <mat-card style="height: 100%; display: flex; flex-direction: column;">

            <h1 style="display: flex; justify-content: center; padding-top: 10px;"><b>What we use</b></h1>
            <div style="width: calc(100% - 40px); margin: 20px; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">

                <div style="width: 50%; display: flex; flex-direction: column; align-items: center;">
                    <h1 style="padding-bottom: 30px;"><b>For pose estimation - "TensorFlow - PoseNet"</b></h1>
                    <h3 style="width: 90%; text-align: justify;">
                        Pose estimation is the task of using an ML model to estimate the pose of a person from an image or a video by estimating the spatial locations of key body joints (keypoints).
                    </h3>
                </div>
                <img src="../../assets/pageImages/pose.png" width="40%">
            </div>

            <div style="width: calc(100% - 40px); margin: 20px; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <div style="width: 50%; display: flex; justify-content: center;">
                    <img src="../../assets/pageImages/angular.svg" height="300px">
                </div>
                <div style="width: 50%; display: flex; flex-direction: column; align-items: center;">
                    <h1 style="padding-bottom: 30px;"><b>For front-end programin - "Angular"</b></h1>
                    <h3 style="width: 90%; text-align: justify;">
                        Angular is a platform and framework for building single-page client applications using HTML and TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your apps.
                    </h3>
                </div>
            </div>

            <div style="width: calc(100% - 40px); margin: 20px; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <div style="width: 50%; display: flex; flex-direction: column; align-items: center;">
                    <h1 style="padding-bottom: 30px;"><b>For back-end programin - ".NET" </b></h1>
                    <h3 style="width: 90%; text-align: justify;">
                        ".NET" is a free, cross-platform, open source developer platform for building many different types of applications.
                    </h3>
                </div>
                <div style="width: 50%; display: flex; justify-content: center;">
                    <img src="../../assets/pageImages/featured.jpg" height="300px">
                </div>
            </div>

        </mat-card>
    </div>



</div>