<div style="height: 100%;">

  <!-- <div>
    <h1>
      <span>R</span><span>oberto</span>
      <span>K</span><span>ropos</span>
      <span>B</span><span>akalauro</span>
      <span>D</span><span>arbas</span>
    </h1>
  </div> -->
  
  <div style="height: 300px; padding-bottom: 60px;">
    <mat-card style="height: 100%; max-height: 300px;">
      <slideshow #slideshow [autoPlay]="true" [autoPlayInterval]="5000" [showDots]="true" [disableSwiping]="true"
        [imageUrls]="Imagedata"></slideshow>
    </mat-card>
  </div>
  <div style="height: 100%;">
    <mat-card style="height: 100%;">Random Shit</mat-card>
  </div>

</div>
